In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np

In [50]:
df = pd.read_csv(r"C:\Users\sarav\Documents\EDA\datasets\eurusd\eurusd_h4.csv")

In [51]:
df.isna().sum()

Unnamed: 0     0
time           0
open           0
high           0
low            0
close          0
tick_volume    0
spread         0
real_volume    0
dtype: int64

In [52]:
del df['Unnamed: 0']
del df['tick_volume']
del df['spread']

In [53]:
df

                      time     open     high      low    close  real_volume
0      2012-01-02 00:00:00  1.29443  1.29525  1.29220  1.29307            0
1      2012-01-02 04:00:00  1.29308  1.29464  1.29206  1.29304            0
2      2012-01-02 08:00:00  1.29303  1.29681  1.29257  1.29452            0
3      2012-01-02 12:00:00  1.29454  1.29512  1.29224  1.29319            0
4      2012-01-02 16:00:00  1.29321  1.29413  1.29168  1.29259            0
...                    ...      ...      ...      ...      ...          ...
15534  2021-12-30 08:00:00  1.13258  1.13268  1.12999  1.13017            0
15535  2021-12-30 12:00:00  1.13013  1.13445  1.13003  1.13039            0
15536  2021-12-30 16:00:00  1.13039  1.13401  1.12986  1.13150            0
15537  2021-12-30 20:00:00  1.13150  1.13303  1.13038  1.13257            0
15538  2021-12-31 00:00:00  1.13215  1.13286  1.13192  1.13198            0

[15539 rows x 6 columns]

In [54]:
df['SMA10'] = df['close'].rolling(10).mean()
df['SMA20'] = df['close'].rolling(20).mean()

In [55]:
df.isna().sum()

time            0
open            0
high            0
low             0
close           0
real_volume     0
SMA10           9
SMA20          19
dtype: int64

In [56]:
df = df.dropna()

In [57]:
df = df.reset_index()

In [58]:
del df['index']

In [59]:
df

,time,open,high,low,close,real_volume,SMA10,SMA20
0,2012-01-05 04:00:00,1.29308,1.29322,1.29096,1.29178,0,1.298911,1.297592
1,2012-01-05 08:00:00,1.29180,1.29434,1.28300,1.28319,0,1.296517,1.297099
2,2012-01-05 12:00:00,1.28318,1.28471,1.27837,1.28027,0,1.294035,1.296460
3,2012-01-05 16:00:00,1.28027,1.28144,1.27769,1.27867,0,1.291641,1.295667
4,2012-01-05 20:00:00,1.27858,1.27969,1.27702,1.27904,0,1.289129,1.294960
...,...,...,...,...,...,...,...,...
15515,2021-12-30 08:00:00,1.13258,1.13268,1.12999,1.13017,0,1.131701,1.131851
15516,2021-12-30 12:00:00,1.13013,1.13445,1.13003,1.13039,0,1.131655,1.131794
15517,2021-12-30 16:00:00,1.13039,1.13401,1.12986,1.13150,0,1.131803,1.131826
15518,2021-12-30 20:00:00,1.13150,1.13303,1.13038,1.13257,0,1.132008,1.131896
15519,2021-12-31 00:00:00,1.13215,1.13286,1.13192,1.13198,0,1.132408,1.131861

In [60]:
def signal(raw):
    
    if raw['SMA10'] > raw['SMA20']:
        return 1
    elif raw['SMA10']  < raw['SMA20']:
        return 0
    else :
        return np.NaN

df['Signal'] = df.apply(signal,axis=1)

In [61]:
def signal(raw):
    
    if raw['SMA10'] > raw['SMA20']:
        return 1
    elif raw['SMA10']  < raw['SMA20']:
        return 0
    else :
        if raw.shift(-1)['Signal'] == 0:
            return 0
        else:
            return 1

df['Signal'] = df.apply(signal,axis=1)

In [62]:
df['Signal'].isna().sum()

0

In [63]:
df['Signal-Filtered'] = df['Signal'][df['Signal'] != df['Signal'].shift()]

In [64]:
df['Signal-Price(BUY)'] = df['close'][df['Signal-Filtered'] == 1]
df['Signal-Price(SELL)'] = df['close'][df['Signal-Filtered'] == 0]

In [65]:
df.tail(50)

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL)
15470,2021-12-20 20:00:00,1.12842,1.12871,1.12720,1.12768,0,1.127545,1.129360,0,NaN,NaN,NaN
15471,2021-12-21 00:00:00,1.12755,1.12848,1.12731,1.12815,0,1.127017,1.129467,0,NaN,NaN,NaN
15472,2021-12-21 04:00:00,1.12817,1.12870,1.12764,1.12807,0,1.126749,1.129399,0,NaN,NaN,NaN
15473,2021-12-21 08:00:00,1.12806,1.13028,1.12760,1.12952,0,1.127019,1.129440,0,NaN,NaN,NaN
15474,2021-12-21 12:00:00,1.12953,1.13014,1.12760,1.12907,0,1.127573,1.129466,0,NaN,NaN,NaN
15475,2021-12-21 16:00:00,1.12908,1.12921,1.12609,1.12671,0,1.127858,1.129234,0,NaN,NaN,NaN
15476,2021-12-21 20:00:00,1.12672,1.12860,1.12640,1.12857,0,1.128173,1.128866,0,NaN,NaN,NaN
15477,2021-12-22 00:00:00,1.12872,1.12941,1.12715,1.12868,0,1.128420,1.128710,0,NaN,NaN,NaN
15478,2021-12-22 04:00:00,1.12868,1.12873,1.12683,1.12710,0,1.128197,1.128413,0,NaN,NaN,NaN
15479,2021-12-22 08:00:00,1.12710,1.12855,1.12645,1.12830,0,1.128185,1.128222,0,NaN,NaN,NaN
15480,2021-12-22 12:00:00,1.12832,1.13151,1.12813,1.13117,0,1.128534,1.128039,1,1.0,1.13117,NaN
15481,2021-12-22 16:00:00,1.13116,1.13424,1.13054,1.13290,0,1.129009,1.128013,1,NaN,NaN,NaN
15482,2021-12-22 20:00:00,1.13289,1.13388,1.13230,1.13272,0,1.129474,1.128111,1,NaN,NaN,NaN
15483,2021-12-23 00:00:00,1.13262,1.13423,1.13170,1.13420,0,1.129942,1.128480,1,NaN,NaN,NaN
15484,2021-12-23 04:00:00,1.13420,1.13420,1.13375,1.13375,0,1.130410,1.128992,1,NaN,NaN,NaN
15485,2021-12-23 08:00:00,1.13375,1.13407,1.13108,1.13207,0,1.130946,1.129402,1,NaN,NaN,NaN
15486,2021-12-23 12:00:00,1.13206,1.13306,1.12978,1.12992,0,1.131081,1.129627,1,NaN,NaN,NaN
15487,2021-12-23 16:00:00,1.12992,1.13368,1.12902,1.13367,0,1.131580,1.130000,1,NaN,NaN,NaN
15488,2021-12-23 20:00:00,1.13367,1.13378,1.13234,1.13264,0,1.132134,1.130165,1,NaN,NaN,NaN
15489,2021-12-24 00:00:00,1.13230,1.13306,1.13145,1.13257,0,1.132561,1.130373,1,NaN,NaN,NaN
15490,2021-12-24 04:00:00,1.13257,1.13349,1.13239,1.13304,0,1.132748,1.130641,1,NaN,NaN,NaN
15491,2021-12-24 08:00:00,1.13302,1.13416,1.13283,1.13406,0,1.132864,1.130937,1,NaN,NaN,NaN
15492,2021-12-24 12:00:00,1.13406,1.13435,1.13126,1.13209,0,1.132801,1.131137,1,NaN,NaN,NaN
15493,2021-12-24 16:00:00,1.13217,1.13277,1.13066,1.13145,0,1.132526,1.131234,1,NaN,NaN,NaN
15494,2021-12-24 20:00:00,1.13144,1.13240,1.13079,1.13206,0,1.132357,1.131383,1,NaN,NaN,NaN
15495,2021-12-27 00:00:00,1.13202,1.13261,1.13137,1.13184,0,1.132334,1.131640,1,NaN,NaN,NaN
15496,2021-12-27 04:00:00,1.13184,1.13249,1.13142,1.13152,0,1.132494,1.131788,1,NaN,NaN,NaN
15497,2021-12-27 08:00:00,1.13152,1.13344,1.13029,1.13086,0,1.132213,1.131897,1,NaN,NaN,NaN
15498,2021-12-27 12:00:00,1.13086,1.13232,1.13036,1.13116,0,1.132065,1.132100,0,0.0,NaN,1.13116
15499,2021-12-27 16:00:00,1.13117,1.13316,1.13106,1.13268,0,1.132076,1.132318,0,NaN,NaN,NaN
15500,2021-12-27 20:00:00,1.13267,1.13304,1.13219,1.13269,0,1.132041,1.132394,0,NaN,NaN,NaN
15501,2021-12-28 00:00:00,1.13271,1.13313,1.13198,1.13200,0,1.131835,1.132349,0,NaN,NaN,NaN
15502,2021-12-28 04:00:00,1.13200,1.13289,1.13182,1.13281,0,1.131907,1.132354,0,NaN,NaN,NaN
15503,2021-12-28 08:00:00,1.13280,1.13311,1.13158,1.13308,0,1.132070,1.132298,0,NaN,NaN,NaN
15504,2021-12-28 12:00:00,1.13308,1.13334,1.13214,1.13214,0,1.132078,1.132217,0,NaN,NaN,NaN
15505,2021-12-28 16:00:00,1.13214,1.13229,1.12896,1.13106,0,1.132000,1.132167,0,NaN,NaN,NaN
15506,2021-12-28 20:00:00,1.13105,1.13142,1.12991,1.13085,0,1.131933,1.132213,0,NaN,NaN,NaN
15507,2021-12-29 00:00:00,1.13086,1.13143,1.12975,1.13002,0,1.131849,1.132031,0,NaN,NaN,NaN
15508,2021-12-29 04:00:00,1.13002,1.13093,1.12979,1.13052,0,1.131785,1.131925,0,NaN,NaN,NaN
15509,2021-12-29 08:00:00,1.13051,1.13062,1.12738,1.12798,0,1.131315,1.131695,0,NaN,NaN,NaN
15510,2021-12-29 12:00:00,1.12798,1.13220,1.12785,1.13182,0,1.131228,1.131635,0,NaN,NaN,NaN
15511,2021-12-29 16:00:00,1.13182,1.13688,1.13129,1.13374,0,1.131402,1.131618,0,NaN,NaN,NaN
15512,2021-12-29 20:00:00,1.13375,1.13523,1.13348,1.13473,0,1.131594,1.131751,0,NaN,NaN,NaN
15513,2021-12-30 00:00:00,1.13471,1.13598,1.13432,1.13460,0,1.131746,1.131908,0,NaN,NaN,NaN
15514,2021-12-30 04:00:00,1.13461,1.13474,1.13246,1.13258,0,1.131790,1.131934,0,NaN,NaN,NaN
15515,2021-12-30 08:00:00,1.13258,1.13268,1.12999,1.13017,0,1.131701,1.131851,0,NaN,NaN,NaN
15516,2021-12-30 12:00:00,1.13013,1.13445,1.13003,1.13039,0,1.131655,1.131794,0,NaN,NaN,NaN
15517,2021-12-30 16:00:00,1.13039,1.13401,1.12986,1.13150,0,1.131803,1.131826,0,NaN,NaN,NaN
15518,2021-12-30 20:00:00,1.13150,1.13303,1.13038,1.13257,0,1.132008,1.131896,1,1.0,1.13257,NaN
15519,2021-12-31 00:00:00,1.13215,1.13286,1.13192,1.13198,0,1.132408,1.131861,1,NaN,NaN,NaN

In [66]:
df['Profit'] = np.NaN

In [67]:
initial_balance = np.NaN
for index, row in df.iterrows():
    if row['Signal-Filtered'] == 1:  # Buy signal
        if initial_balance is not None:
            profit = initial_balance - row['close']
            df.at[index, 'Profit'] = profit
        initial_balance = row['close']
    elif row['Signal-Filtered'] == 0:  # Sell signal
        if initial_balance is not None:
            profit = row['close'] - initial_balance
            df.at[index, 'Profit'] = profit
        initial_balance = row['close']

In [68]:
df[(df['Signal-Filtered'] == 1) | (df['Signal-Filtered'] ==  0)]

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL),Profit
0,2012-01-05 04:00:00,1.29308,1.29322,1.29096,1.29178,0,1.298911,1.297592,1,1.0,1.29178,NaN,NaN
1,2012-01-05 08:00:00,1.29180,1.29434,1.28300,1.28319,0,1.296517,1.297099,0,0.0,NaN,1.28319,-0.00859
21,2012-01-10 16:00:00,1.27851,1.28014,1.27632,1.27795,0,1.276509,1.276232,1,1.0,1.27795,NaN,0.00524
29,2012-01-12 00:00:00,1.27080,1.27272,1.27017,1.27261,0,1.273999,1.274490,0,0.0,NaN,1.27261,-0.00534
36,2012-01-13 04:00:00,1.28209,1.28778,1.28147,1.28598,0,1.277553,1.276839,1,1.0,1.28598,NaN,-0.01337
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15456,2021-12-16 12:00:00,1.13134,1.13595,1.12906,1.13592,0,1.128819,1.128569,1,1.0,1.13592,NaN,-0.00424
15467,2021-12-20 08:00:00,1.12542,1.12742,1.12473,1.12621,0,1.129001,1.129161,0,0.0,NaN,1.12621,-0.00971
15480,2021-12-22 12:00:00,1.12832,1.13151,1.12813,1.13117,0,1.128534,1.128039,1,1.0,1.13117,NaN,-0.00496
15498,2021-12-27 12:00:00,1.13086,1.13232,1.13036,1.13116,0,1.132065,1.132100,0,0.0,NaN,1.13116,-0.00001
15518,2021-12-30 20:00:00,1.13150,1.13303,1.13038,1.13257,0,1.132008,1.131896,1,1.0,1.13257,NaN,-0.00141

In [69]:
df['Category'] = df['Profit'].apply(lambda x: 'Profit' if x > 0 else ('Loss' if x < 0 else np.NaN))

In [70]:
df[((df['Signal-Filtered'] == 1) | (df['Signal-Filtered'] ==  0)) & (df['Category'] == 1)]

Empty DataFrame
Columns: [time, open, high, low, close, real_volume, SMA10, SMA20, Signal, Signal-Filtered, Signal-Price(BUY), Signal-Price(SELL), Profit, Category]
Index: []

In [71]:
df.tail(50)

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL),Profit,Category
15470,2021-12-20 20:00:00,1.12842,1.12871,1.12720,1.12768,0,1.127545,1.129360,0,NaN,NaN,NaN,NaN,NaN
15471,2021-12-21 00:00:00,1.12755,1.12848,1.12731,1.12815,0,1.127017,1.129467,0,NaN,NaN,NaN,NaN,NaN
15472,2021-12-21 04:00:00,1.12817,1.12870,1.12764,1.12807,0,1.126749,1.129399,0,NaN,NaN,NaN,NaN,NaN
15473,2021-12-21 08:00:00,1.12806,1.13028,1.12760,1.12952,0,1.127019,1.129440,0,NaN,NaN,NaN,NaN,NaN
15474,2021-12-21 12:00:00,1.12953,1.13014,1.12760,1.12907,0,1.127573,1.129466,0,NaN,NaN,NaN,NaN,NaN
15475,2021-12-21 16:00:00,1.12908,1.12921,1.12609,1.12671,0,1.127858,1.129234,0,NaN,NaN,NaN,NaN,NaN
15476,2021-12-21 20:00:00,1.12672,1.12860,1.12640,1.12857,0,1.128173,1.128866,0,NaN,NaN,NaN,NaN,NaN
15477,2021-12-22 00:00:00,1.12872,1.12941,1.12715,1.12868,0,1.128420,1.128710,0,NaN,NaN,NaN,NaN,NaN
15478,2021-12-22 04:00:00,1.12868,1.12873,1.12683,1.12710,0,1.128197,1.128413,0,NaN,NaN,NaN,NaN,NaN
15479,2021-12-22 08:00:00,1.12710,1.12855,1.12645,1.12830,0,1.128185,1.128222,0,NaN,NaN,NaN,NaN,NaN
15480,2021-12-22 12:00:00,1.12832,1.13151,1.12813,1.13117,0,1.128534,1.128039,1,1.0,1.13117,NaN,-0.00496,Loss
15481,2021-12-22 16:00:00,1.13116,1.13424,1.13054,1.13290,0,1.129009,1.128013,1,NaN,NaN,NaN,NaN,NaN
15482,2021-12-22 20:00:00,1.13289,1.13388,1.13230,1.13272,0,1.129474,1.128111,1,NaN,NaN,NaN,NaN,NaN
15483,2021-12-23 00:00:00,1.13262,1.13423,1.13170,1.13420,0,1.129942,1.128480,1,NaN,NaN,NaN,NaN,NaN
15484,2021-12-23 04:00:00,1.13420,1.13420,1.13375,1.13375,0,1.130410,1.128992,1,NaN,NaN,NaN,NaN,NaN
15485,2021-12-23 08:00:00,1.13375,1.13407,1.13108,1.13207,0,1.130946,1.129402,1,NaN,NaN,NaN,NaN,NaN
15486,2021-12-23 12:00:00,1.13206,1.13306,1.12978,1.12992,0,1.131081,1.129627,1,NaN,NaN,NaN,NaN,NaN
15487,2021-12-23 16:00:00,1.12992,1.13368,1.12902,1.13367,0,1.131580,1.130000,1,NaN,NaN,NaN,NaN,NaN
15488,2021-12-23 20:00:00,1.13367,1.13378,1.13234,1.13264,0,1.132134,1.130165,1,NaN,NaN,NaN,NaN,NaN
15489,2021-12-24 00:00:00,1.13230,1.13306,1.13145,1.13257,0,1.132561,1.130373,1,NaN,NaN,NaN,NaN,NaN
15490,2021-12-24 04:00:00,1.13257,1.13349,1.13239,1.13304,0,1.132748,1.130641,1,NaN,NaN,NaN,NaN,NaN
15491,2021-12-24 08:00:00,1.13302,1.13416,1.13283,1.13406,0,1.132864,1.130937,1,NaN,NaN,NaN,NaN,NaN
15492,2021-12-24 12:00:00,1.13406,1.13435,1.13126,1.13209,0,1.132801,1.131137,1,NaN,NaN,NaN,NaN,NaN
15493,2021-12-24 16:00:00,1.13217,1.13277,1.13066,1.13145,0,1.132526,1.131234,1,NaN,NaN,NaN,NaN,NaN
15494,2021-12-24 20:00:00,1.13144,1.13240,1.13079,1.13206,0,1.132357,1.131383,1,NaN,NaN,NaN,NaN,NaN
15495,2021-12-27 00:00:00,1.13202,1.13261,1.13137,1.13184,0,1.132334,1.131640,1,NaN,NaN,NaN,NaN,NaN
15496,2021-12-27 04:00:00,1.13184,1.13249,1.13142,1.13152,0,1.132494,1.131788,1,NaN,NaN,NaN,NaN,NaN
15497,2021-12-27 08:00:00,1.13152,1.13344,1.13029,1.13086,0,1.132213,1.131897,1,NaN,NaN,NaN,NaN,NaN
15498,2021-12-27 12:00:00,1.13086,1.13232,1.13036,1.13116,0,1.132065,1.132100,0,0.0,NaN,1.13116,-0.00001,Loss
15499,2021-12-27 16:00:00,1.13117,1.13316,1.13106,1.13268,0,1.132076,1.132318,0,NaN,NaN,NaN,NaN,NaN
15500,2021-12-27 20:00:00,1.13267,1.13304,1.13219,1.13269,0,1.132041,1.132394,0,NaN,NaN,NaN,NaN,NaN
15501,2021-12-28 00:00:00,1.13271,1.13313,1.13198,1.13200,0,1.131835,1.132349,0,NaN,NaN,NaN,NaN,NaN
15502,2021-12-28 04:00:00,1.13200,1.13289,1.13182,1.13281,0,1.131907,1.132354,0,NaN,NaN,NaN,NaN,NaN
15503,2021-12-28 08:00:00,1.13280,1.13311,1.13158,1.13308,0,1.132070,1.132298,0,NaN,NaN,NaN,NaN,NaN
15504,2021-12-28 12:00:00,1.13308,1.13334,1.13214,1.13214,0,1.132078,1.132217,0,NaN,NaN,NaN,NaN,NaN
15505,2021-12-28 16:00:00,1.13214,1.13229,1.12896,1.13106,0,1.132000,1.132167,0,NaN,NaN,NaN,NaN,NaN
15506,2021-12-28 20:00:00,1.13105,1.13142,1.12991,1.13085,0,1.131933,1.132213,0,NaN,NaN,NaN,NaN,NaN
15507,2021-12-29 00:00:00,1.13086,1.13143,1.12975,1.13002,0,1.131849,1.132031,0,NaN,NaN,NaN,NaN,NaN
15508,2021-12-29 04:00:00,1.13002,1.13093,1.12979,1.13052,0,1.131785,1.131925,0,NaN,NaN,NaN,NaN,NaN
15509,2021-12-29 08:00:00,1.13051,1.13062,1.12738,1.12798,0,1.131315,1.131695,0,NaN,NaN,NaN,NaN,NaN
15510,2021-12-29 12:00:00,1.12798,1.13220,1.12785,1.13182,0,1.131228,1.131635,0,NaN,NaN,NaN,NaN,NaN
15511,2021-12-29 16:00:00,1.13182,1.13688,1.13129,1.13374,0,1.131402,1.131618,0,NaN,NaN,NaN,NaN,NaN
15512,2021-12-29 20:00:00,1.13375,1.13523,1.13348,1.13473,0,1.131594,1.131751,0,NaN,NaN,NaN,NaN,NaN
15513,2021-12-30 00:00:00,1.13471,1.13598,1.13432,1.13460,0,1.131746,1.131908,0,NaN,NaN,NaN,NaN,NaN
15514,2021-12-30 04:00:00,1.13461,1.13474,1.13246,1.13258,0,1.131790,1.131934,0,NaN,NaN,NaN,NaN,NaN
15515,2021-12-30 08:00:00,1.13258,1.13268,1.12999,1.13017,0,1.131701,1.131851,0,NaN,NaN,NaN,NaN,NaN
15516,2021-12-30 12:00:00,1.13013,1.13445,1.13003,1.13039,0,1.131655,1.131794,0,NaN,NaN,NaN,NaN,NaN
15517,2021-12-30 16:00:00,1.13039,1.13401,1.12986,1.13150,0,1.131803,1.131826,0,NaN,NaN,NaN,NaN,NaN
15518,2021-12-30 20:00:00,1.13150,1.13303,1.13038,1.13257,0,1.132008,1.131896,1,1.0,1.13257,NaN,-0.00141,Loss
15519,2021-12-31 00:00:00,1.13215,1.13286,1.13192,1.13198,0,1.132408,1.131861,1,NaN,NaN,NaN,NaN,NaN

In [72]:
df['Category'].shift()[22]

'Profit'

In [73]:
df['Category'][0] = 'Profit'

C:\Users\sarav\AppData\Local\Temp\ipykernel_14644\764009197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][0] = 'Profit'

In [74]:
for x in range(len(df['Category'])):
    if x+1 != len(df['Category']):
        if df['Category'][x] == 'Profit' and df['Category'][x+1] != 'Loss':
            df['Category'][x+1] = 'Profit'
        elif df['Category'][x] == 'Loss' and df['Category'][x+1] != 'Profit':
            df['Category'][x+1] = 'Loss'

C:\Users\sarav\AppData\Local\Temp\ipykernel_14644\780626816.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][x+1] = 'Loss'
C:\Users\sarav\AppData\Local\Temp\ipykernel_14644\780626816.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][x+1] = 'Profit'

In [75]:
df['Category'].value_counts()

Loss      9939
Profit    5581
Name: Category, dtype: int64

In [76]:
df.head(50)

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL),Profit,Category
0,2012-01-05 04:00:00,1.29308,1.29322,1.29096,1.29178,0,1.298911,1.297592,1,1.0,1.29178,NaN,NaN,Profit
1,2012-01-05 08:00:00,1.29180,1.29434,1.28300,1.28319,0,1.296517,1.297099,0,0.0,NaN,1.28319,-0.00859,Loss
2,2012-01-05 12:00:00,1.28318,1.28471,1.27837,1.28027,0,1.294035,1.296460,0,NaN,NaN,NaN,NaN,Loss
3,2012-01-05 16:00:00,1.28027,1.28144,1.27769,1.27867,0,1.291641,1.295667,0,NaN,NaN,NaN,NaN,Loss
4,2012-01-05 20:00:00,1.27858,1.27969,1.27702,1.27904,0,1.289129,1.294960,0,NaN,NaN,NaN,NaN,Loss
5,2012-01-06 00:00:00,1.27907,1.27971,1.27844,1.27945,0,1.286938,1.294303,0,NaN,NaN,NaN,NaN,Loss
6,2012-01-06 04:00:00,1.27943,1.27983,1.27630,1.27798,0,1.285169,1.293533,0,NaN,NaN,NaN,NaN,Loss
7,2012-01-06 08:00:00,1.27797,1.28121,1.27667,1.27922,0,1.283629,1.292604,0,NaN,NaN,NaN,NaN,Loss
8,2012-01-06 12:00:00,1.27921,1.28059,1.27049,1.27158,0,1.281426,1.291271,0,NaN,NaN,NaN,NaN,Loss
9,2012-01-06 16:00:00,1.27156,1.27312,1.26972,1.27218,0,1.279336,1.289697,0,NaN,NaN,NaN,NaN,Loss
10,2012-01-06 20:00:00,1.27217,1.27306,1.27162,1.27188,0,1.277346,1.288129,0,NaN,NaN,NaN,NaN,Loss
11,2012-01-09 00:00:00,1.26923,1.26966,1.26661,1.26929,0,1.275956,1.286236,0,NaN,NaN,NaN,NaN,Loss
12,2012-01-09 04:00:00,1.26930,1.27281,1.26849,1.27198,0,1.275127,1.284581,0,NaN,NaN,NaN,NaN,Loss
13,2012-01-09 08:00:00,1.27196,1.27848,1.27194,1.27619,0,1.274879,1.283260,0,NaN,NaN,NaN,NaN,Loss
14,2012-01-09 12:00:00,1.27618,1.27733,1.27256,1.27373,0,1.274348,1.281739,0,NaN,NaN,NaN,NaN,Loss
15,2012-01-09 16:00:00,1.27373,1.27518,1.27201,1.27504,0,1.273907,1.280422,0,NaN,NaN,NaN,NaN,Loss
16,2012-01-09 20:00:00,1.27503,1.27766,1.27492,1.27686,0,1.273795,1.279482,0,NaN,NaN,NaN,NaN,Loss
17,2012-01-10 00:00:00,1.27682,1.27803,1.27608,1.27648,0,1.273521,1.278575,0,NaN,NaN,NaN,NaN,Loss
18,2012-01-10 04:00:00,1.27647,1.27958,1.27647,1.27850,0,1.274213,1.277820,0,NaN,NaN,NaN,NaN,Loss
19,2012-01-10 08:00:00,1.27849,1.28088,1.27424,1.27986,0,1.274981,1.277159,0,NaN,NaN,NaN,NaN,Loss
20,2012-01-10 12:00:00,1.27984,1.28174,1.27630,1.27850,0,1.275643,1.276494,0,NaN,NaN,NaN,NaN,Loss
21,2012-01-10 16:00:00,1.27851,1.28014,1.27632,1.27795,0,1.276509,1.276232,1,1.0,1.27795,NaN,0.00524,Profit
22,2012-01-10 20:00:00,1.27794,1.27921,1.27680,1.27708,0,1.277019,1.276073,1,NaN,NaN,NaN,NaN,Profit
23,2012-01-11 00:00:00,1.27708,1.27744,1.27284,1.27375,0,1.276775,1.275827,1,NaN,NaN,NaN,NaN,Profit
24,2012-01-11 04:00:00,1.27374,1.27592,1.27356,1.27572,0,1.276974,1.275661,1,NaN,NaN,NaN,NaN,Profit
25,2012-01-11 08:00:00,1.27571,1.27893,1.27435,1.27608,0,1.277078,1.275492,1,NaN,NaN,NaN,NaN,Profit
26,2012-01-11 12:00:00,1.27608,1.27608,1.26723,1.26733,0,1.276125,1.274960,1,NaN,NaN,NaN,NaN,Profit
27,2012-01-11 16:00:00,1.26734,1.27074,1.26619,1.27022,0,1.275499,1.274510,1,NaN,NaN,NaN,NaN,Profit
28,2012-01-11 20:00:00,1.27021,1.27105,1.26928,1.27075,0,1.274724,1.274469,1,NaN,NaN,NaN,NaN,Profit
29,2012-01-12 00:00:00,1.27080,1.27272,1.27017,1.27261,0,1.273999,1.274490,0,0.0,NaN,1.27261,-0.00534,Loss
30,2012-01-12 04:00:00,1.27260,1.27262,1.27073,1.27164,0,1.273313,1.274478,0,NaN,NaN,NaN,NaN,Loss
31,2012-01-12 08:00:00,1.27163,1.27630,1.26994,1.27576,0,1.273094,1.274802,0,NaN,NaN,NaN,NaN,Loss
32,2012-01-12 12:00:00,1.27576,1.28205,1.27142,1.28185,0,1.273571,1.275295,0,NaN,NaN,NaN,NaN,Loss
33,2012-01-12 16:00:00,1.28186,1.28442,1.27888,1.28328,0,1.274524,1.275649,0,NaN,NaN,NaN,NaN,Loss
34,2012-01-12 20:00:00,1.28330,1.28337,1.28077,1.28136,0,1.275088,1.276031,0,NaN,NaN,NaN,NaN,Loss
35,2012-01-13 00:00:00,1.28135,1.28230,1.28100,1.28208,0,1.275688,1.276383,0,NaN,NaN,NaN,NaN,Loss
36,2012-01-13 04:00:00,1.28209,1.28778,1.28147,1.28598,0,1.277553,1.276839,1,1.0,1.28598,NaN,-0.01337,Loss
37,2012-01-13 08:00:00,1.28598,1.28736,1.27741,1.27917,0,1.278448,1.276973,1,NaN,NaN,NaN,NaN,Loss
38,2012-01-13 12:00:00,1.27919,1.28044,1.26720,1.26772,0,1.278145,1.276435,1,NaN,NaN,NaN,NaN,Loss
39,2012-01-13 16:00:00,1.26774,1.26950,1.26241,1.26608,0,1.277492,1.275745,1,NaN,NaN,NaN,NaN,Loss
40,2012-01-13 20:00:00,1.26609,1.26874,1.26560,1.26754,0,1.277082,1.275197,1,NaN,NaN,NaN,NaN,Loss
41,2012-01-16 00:00:00,1.26383,1.26575,1.26254,1.26395,0,1.275901,1.274498,1,NaN,NaN,NaN,NaN,Loss
42,2012-01-16 04:00:00,1.26394,1.26559,1.26326,1.26550,0,1.274266,1.273918,1,NaN,NaN,NaN,NaN,Loss
43,2012-01-16 08:00:00,1.26551,1.26809,1.26393,1.26651,0,1.272589,1.273556,0,0.0,NaN,1.26651,-0.01947,Loss
44,2012-01-16 12:00:00,1.26653,1.26816,1.26584,1.26719,0,1.271172,1.273130,0,NaN,NaN,NaN,NaN,Loss
45,2012-01-16 16:00:00,1.26721,1.26873,1.26589,1.26653,0,1.269617,1.272652,0,NaN,NaN,NaN,NaN,Loss
46,2012-01-16 20:00:00,1.26656,1.26681,1.26493,1.26500,0,1.267519,1.272536,0,NaN,NaN,NaN,NaN,Loss
47,2012-01-17 00:00:00,1.26501,1.27338,1.26488,1.27286,0,1.266888,1.272668,0,NaN,NaN,NaN,NaN,Loss
48,2012-01-17 04:00:00,1.27285,1.27361,1.27207,1.27263,0,1.267379,1.272762,0,NaN,NaN,NaN,NaN,Loss
49,2012-01-17 08:00:00,1.27262,1.28005,1.27236,1.27769,0,1.268540,1.273016,0,NaN,NaN,NaN,NaN,Loss

In [77]:
del df['real_volume']
del df['Signal-Filtered']
del df['Signal-Price(BUY)']
del df['Profit']
del df['Signal-Price(SELL)']

In [78]:
df.isna().sum()

time        0
open        0
high        0
low         0
close       0
SMA10       0
SMA20       0
Signal      0
Category    0
dtype: int64

In [79]:
df

,time,open,high,low,close,SMA10,SMA20,Signal,Category
0,2012-01-05 04:00:00,1.29308,1.29322,1.29096,1.29178,1.298911,1.297592,1,Profit
1,2012-01-05 08:00:00,1.29180,1.29434,1.28300,1.28319,1.296517,1.297099,0,Loss
2,2012-01-05 12:00:00,1.28318,1.28471,1.27837,1.28027,1.294035,1.296460,0,Loss
3,2012-01-05 16:00:00,1.28027,1.28144,1.27769,1.27867,1.291641,1.295667,0,Loss
4,2012-01-05 20:00:00,1.27858,1.27969,1.27702,1.27904,1.289129,1.294960,0,Loss
...,...,...,...,...,...,...,...,...,...
15515,2021-12-30 08:00:00,1.13258,1.13268,1.12999,1.13017,1.131701,1.131851,0,Loss
15516,2021-12-30 12:00:00,1.13013,1.13445,1.13003,1.13039,1.131655,1.131794,0,Loss
15517,2021-12-30 16:00:00,1.13039,1.13401,1.12986,1.13150,1.131803,1.131826,0,Loss
15518,2021-12-30 20:00:00,1.13150,1.13303,1.13038,1.13257,1.132008,1.131896,1,Loss
15519,2021-12-31 00:00:00,1.13215,1.13286,1.13192,1.13198,1.132408,1.131861,1,Loss

In [80]:
# del df['Category']

In [81]:
def signal(raw):
    
    if raw['SMA10'] > raw['SMA20']:
        return 1
    elif raw['SMA10']  < raw['SMA20']:
        return 0
    else :
        if raw.shift(-1)['Signal'] == 0:
            return 0
        else:
            return 1

df['Signal'] = df.apply(signal,axis=1)

In [82]:
for x in range(10):
    print(df['Signal'][x+1715])

0
1
1
1
1
1
1
1
1
1

In [83]:
df

,time,open,high,low,close,SMA10,SMA20,Signal,Category
0,2012-01-05 04:00:00,1.29308,1.29322,1.29096,1.29178,1.298911,1.297592,1,Profit
1,2012-01-05 08:00:00,1.29180,1.29434,1.28300,1.28319,1.296517,1.297099,0,Loss
2,2012-01-05 12:00:00,1.28318,1.28471,1.27837,1.28027,1.294035,1.296460,0,Loss
3,2012-01-05 16:00:00,1.28027,1.28144,1.27769,1.27867,1.291641,1.295667,0,Loss
4,2012-01-05 20:00:00,1.27858,1.27969,1.27702,1.27904,1.289129,1.294960,0,Loss
...,...,...,...,...,...,...,...,...,...
15515,2021-12-30 08:00:00,1.13258,1.13268,1.12999,1.13017,1.131701,1.131851,0,Loss
15516,2021-12-30 12:00:00,1.13013,1.13445,1.13003,1.13039,1.131655,1.131794,0,Loss
15517,2021-12-30 16:00:00,1.13039,1.13401,1.12986,1.13150,1.131803,1.131826,0,Loss
15518,2021-12-30 20:00:00,1.13150,1.13303,1.13038,1.13257,1.132008,1.131896,1,Loss
15519,2021-12-31 00:00:00,1.13215,1.13286,1.13192,1.13198,1.132408,1.131861,1,Loss

In [84]:
df['Cat_num'] = df['Category'].apply(lambda x: 1 if x == 'Profit' else (0 if x == 'Loss' else np.NaN))

In [85]:
df.isna().sum()

time        0
open        0
high        0
low         0
close       0
SMA10       0
SMA20       0
Signal      0
Category    0
Cat_num     0
dtype: int64

In [86]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [87]:
df['time'] = pd.to_datetime(df['time'])
df['timestamp_unix'] = df['time'].astype(np.int64) / 10**9  # Convert nanoseconds to seconds

In [88]:
X = df[['open', 'high', 'low', 'close', 'SMA10','Signal', 'SMA20']]  # Input features
y = df[['Cat_num']]  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [89]:
model = RandomForestClassifier(n_estimators=200, random_state=42)
model.fit(X_train, y_train)

C:\Users\sarav\AppData\Local\Temp\ipykernel_14644\4040735339.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200, random_state=42)

In [90]:
model.fit(X_train,y_train)

C:\Users\sarav\AppData\Local\Temp\ipykernel_14644\2721349307.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200, random_state=42)

In [91]:
y_pred = model.predict(X_test)

In [92]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [93]:
ydd = pd.DataFrame(y_pred).value_counts()
ydd

0    2292
1     812
dtype: int64

In [94]:
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
accuracy

0.7416237113402062

In [95]:
print(classification_rep)

              precision    recall  f1-score   support

           0       0.76      0.87      0.81      2010
           1       0.68      0.50      0.58      1094

    accuracy                           0.74      3104
   macro avg       0.72      0.69      0.70      3104
weighted avg       0.73      0.74      0.73      3104

In [96]:
import pickle
with open('rfc2.pkl', 'wb') as file:
    pickle.dump(model, file)