In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np

In [96]:
df = pd.read_csv(r"C:\Users\sarav\Documents\EDA\datasets\eurusd\eurusd_test.csv")

In [97]:
df.isna().sum()

Unnamed: 0     0
time           0
open           0
high           0
low            0
close          0
tick_volume    0
spread         0
real_volume    0
dtype: int64

In [98]:
del df['Unnamed: 0']
del df['tick_volume']
del df['spread']

In [99]:
df

                     time     open     high      low    close  real_volume
0     2022-01-03 00:00:00  1.13753  1.13784  1.13500  1.13586            0
1     2022-01-03 04:00:00  1.13587  1.13588  1.13362  1.13380            0
2     2022-01-03 08:00:00  1.13381  1.13564  1.13350  1.13516            0
3     2022-01-03 12:00:00  1.13516  1.13662  1.13460  1.13509            0
4     2022-01-03 16:00:00  1.13510  1.13519  1.12797  1.12838            0
...                   ...      ...      ...      ...      ...          ...
1549  2022-12-30 04:00:00  1.06604  1.06634  1.06426  1.06437            0
1550  2022-12-30 08:00:00  1.06434  1.06747  1.06389  1.06549            0
1551  2022-12-30 12:00:00  1.06547  1.06987  1.06454  1.06689            0
1552  2022-12-30 16:00:00  1.06690  1.07114  1.06594  1.07108            0
1553  2022-12-30 20:00:00  1.07112  1.07132  1.06924  1.07007            0

[1554 rows x 6 columns]

In [100]:
df['SMA10'] = df['close'].rolling(10).mean()
df['SMA20'] = df['close'].rolling(20).mean()

In [101]:
df.isna().sum()

time            0
open            0
high            0
low             0
close           0
real_volume     0
SMA10           9
SMA20          19
dtype: int64

In [102]:
df = df.dropna()

In [103]:
df = df.reset_index()

In [104]:
del df['index']

In [105]:
df

,time,open,high,low,close,real_volume,SMA10,SMA20
0,2022-01-06 04:00:00,1.13166,1.13206,1.13070,1.13092,0,1.130711,1.131229
1,2022-01-06 08:00:00,1.13092,1.13094,1.12847,1.13054,0,1.130827,1.130963
2,2022-01-06 12:00:00,1.13052,1.13268,1.13023,1.13122,0,1.131075,1.130834
3,2022-01-06 16:00:00,1.13123,1.13319,1.12903,1.12960,0,1.131177,1.130556
4,2022-01-06 20:00:00,1.12959,1.12998,1.12862,1.12984,0,1.131222,1.130294
...,...,...,...,...,...,...,...,...
1530,2022-12-30 04:00:00,1.06604,1.06634,1.06426,1.06437,0,1.064544,1.064469
1531,2022-12-30 08:00:00,1.06434,1.06747,1.06389,1.06549,0,1.064802,1.064483
1532,2022-12-30 12:00:00,1.06547,1.06987,1.06454,1.06689,0,1.065366,1.064550
1533,2022-12-30 16:00:00,1.06690,1.07114,1.06594,1.07108,0,1.066192,1.064802
1534,2022-12-30 20:00:00,1.07112,1.07132,1.06924,1.07007,0,1.066951,1.065167

In [106]:
def signal(raw):
    
    if raw['SMA10'] > raw['SMA20']:
        return 1
    elif raw['SMA10']  < raw['SMA20']:
        return 0
    else :
        return np.NaN

df['Signal'] = df.apply(signal,axis=1)

In [107]:
def signal(raw):
    
    if raw['SMA10'] > raw['SMA20']:
        return 1
    elif raw['SMA10']  < raw['SMA20']:
        return 0
    else :
        if raw.shift(-1)['Signal'] == 0:
            return 0
        else:
            return 1

df['Signal'] = df.apply(signal,axis=1)

In [108]:
df['Signal'].isna().sum()

0

In [109]:
df['Signal-Filtered'] = df['Signal'][df['Signal'] != df['Signal'].shift()]

In [110]:
df['Signal-Price(BUY)'] = df['close'][df['Signal-Filtered'] == 1]
df['Signal-Price(SELL)'] = df['close'][df['Signal-Filtered'] == 0]

In [111]:
df.tail(50)

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL)
1485,2022-12-19 16:00:00,1.06062,1.06312,1.05759,1.06250,0,1.061450,1.062937,0,NaN,NaN,NaN
1486,2022-12-19 20:00:00,1.06250,1.06264,1.06008,1.06073,0,1.061067,1.062741,0,NaN,NaN,NaN
1487,2022-12-20 00:00:00,1.06050,1.06128,1.05978,1.06054,0,1.061003,1.062511,0,NaN,NaN,NaN
1488,2022-12-20 04:00:00,1.06054,1.06522,1.05790,1.05866,0,1.060528,1.062036,0,NaN,NaN,NaN
1489,2022-12-20 08:00:00,1.05866,1.06380,1.05830,1.06370,0,1.060846,1.061908,0,NaN,NaN,NaN
1490,2022-12-20 12:00:00,1.06365,1.06460,1.05942,1.06157,0,1.061147,1.061694,0,NaN,NaN,NaN
1491,2022-12-20 16:00:00,1.06156,1.06586,1.05983,1.06150,0,1.061233,1.061659,0,NaN,NaN,NaN
1492,2022-12-20 20:00:00,1.06148,1.06292,1.05993,1.06232,0,1.061390,1.061513,0,NaN,NaN,NaN
1493,2022-12-21 00:00:00,1.06240,1.06283,1.06138,1.06199,0,1.061413,1.061616,0,NaN,NaN,NaN
1494,2022-12-21 04:00:00,1.06198,1.06260,1.06070,1.06176,0,1.061527,1.061573,0,NaN,NaN,NaN
1495,2022-12-21 08:00:00,1.06175,1.06374,1.06097,1.06148,0,1.061425,1.061437,0,NaN,NaN,NaN
1496,2022-12-21 12:00:00,1.06146,1.06452,1.06046,1.06288,0,1.061640,1.061353,1,1.0,1.06288,NaN
1497,2022-12-21 16:00:00,1.06286,1.06333,1.05904,1.06005,0,1.061591,1.061297,1,NaN,NaN,NaN
1498,2022-12-21 20:00:00,1.06007,1.06200,1.05932,1.06038,0,1.061763,1.061145,1,NaN,NaN,NaN
1499,2022-12-22 00:00:00,1.06046,1.06300,1.06033,1.06296,0,1.061689,1.061268,1,NaN,NaN,NaN
1500,2022-12-22 04:00:00,1.06294,1.06484,1.06256,1.06402,0,1.061934,1.061540,1,NaN,NaN,NaN
1501,2022-12-22 08:00:00,1.06400,1.06594,1.06263,1.06464,0,1.062248,1.061740,1,NaN,NaN,NaN
1502,2022-12-22 12:00:00,1.06464,1.06564,1.06037,1.06112,0,1.062128,1.061759,1,NaN,NaN,NaN
1503,2022-12-22 16:00:00,1.06112,1.06186,1.05822,1.05844,0,1.061773,1.061593,1,NaN,NaN,NaN
1504,2022-12-22 20:00:00,1.05842,1.06034,1.05733,1.05983,0,1.061580,1.061554,1,NaN,NaN,NaN
1505,2022-12-23 00:00:00,1.05938,1.06042,1.05867,1.06020,0,1.061452,1.061438,1,NaN,NaN,NaN
1506,2022-12-23 04:00:00,1.06020,1.06123,1.06020,1.06036,0,1.061200,1.061420,0,0.0,NaN,1.06036
1507,2022-12-23 08:00:00,1.06037,1.06304,1.05962,1.06098,0,1.061293,1.061442,0,NaN,NaN,NaN
1508,2022-12-23 12:00:00,1.06099,1.06331,1.05950,1.06080,0,1.061335,1.061549,0,NaN,NaN,NaN
1509,2022-12-23 16:00:00,1.06078,1.06321,1.05924,1.06203,0,1.061242,1.061466,0,NaN,NaN,NaN
1510,2022-12-23 20:00:00,1.06202,1.06232,1.06059,1.06160,0,1.061000,1.061467,0,NaN,NaN,NaN
1511,2022-12-27 00:00:00,1.06354,1.06532,1.06281,1.06520,0,1.061056,1.061652,0,NaN,NaN,NaN
1512,2022-12-27 04:00:00,1.06520,1.06605,1.06355,1.06554,0,1.061498,1.061813,0,NaN,NaN,NaN
1513,2022-12-27 08:00:00,1.06556,1.06680,1.06383,1.06605,0,1.062259,1.062016,1,1.0,1.06605,NaN
1514,2022-12-27 12:00:00,1.06605,1.06695,1.06196,1.06276,0,1.062552,1.062066,1,NaN,NaN,NaN
1515,2022-12-27 16:00:00,1.06272,1.06606,1.06115,1.06376,0,1.062908,1.062180,1,NaN,NaN,NaN
1516,2022-12-27 20:00:00,1.06376,1.06565,1.06360,1.06390,0,1.063262,1.062231,1,NaN,NaN,NaN
1517,2022-12-28 00:00:00,1.06395,1.06432,1.06250,1.06420,0,1.063584,1.062439,1,NaN,NaN,NaN
1518,2022-12-28 04:00:00,1.06421,1.06472,1.06322,1.06462,0,1.063966,1.062650,1,NaN,NaN,NaN
1519,2022-12-28 08:00:00,1.06464,1.06548,1.06280,1.06372,0,1.064135,1.062688,1,NaN,NaN,NaN
1520,2022-12-28 12:00:00,1.06372,1.06578,1.06295,1.06418,0,1.064393,1.062696,1,NaN,NaN,NaN
1521,2022-12-28 16:00:00,1.06418,1.06746,1.06116,1.06291,0,1.064164,1.062610,1,NaN,NaN,NaN
1522,2022-12-28 20:00:00,1.06292,1.06358,1.06068,1.06125,0,1.063735,1.062617,1,NaN,NaN,NaN
1523,2022-12-29 00:00:00,1.06117,1.06374,1.06054,1.06282,0,1.063412,1.062835,1,NaN,NaN,NaN
1524,2022-12-29 04:00:00,1.06285,1.06329,1.06192,1.06248,0,1.063384,1.062968,1,NaN,NaN,NaN
1525,2022-12-29 08:00:00,1.06249,1.06584,1.06112,1.06564,0,1.063572,1.063240,1,NaN,NaN,NaN
1526,2022-12-29 12:00:00,1.06564,1.06672,1.06318,1.06550,0,1.063732,1.063497,1,NaN,NaN,NaN
1527,2022-12-29 16:00:00,1.06554,1.06905,1.06366,1.06820,0,1.064132,1.063858,1,NaN,NaN,NaN
1528,2022-12-29 20:00:00,1.06821,1.06836,1.06604,1.06621,0,1.064291,1.064129,1,NaN,NaN,NaN
1529,2022-12-30 00:00:00,1.06608,1.06696,1.06546,1.06606,0,1.064525,1.064330,1,NaN,NaN,NaN
1530,2022-12-30 04:00:00,1.06604,1.06634,1.06426,1.06437,0,1.064544,1.064469,1,NaN,NaN,NaN
1531,2022-12-30 08:00:00,1.06434,1.06747,1.06389,1.06549,0,1.064802,1.064483,1,NaN,NaN,NaN
1532,2022-12-30 12:00:00,1.06547,1.06987,1.06454,1.06689,0,1.065366,1.064550,1,NaN,NaN,NaN
1533,2022-12-30 16:00:00,1.06690,1.07114,1.06594,1.07108,0,1.066192,1.064802,1,NaN,NaN,NaN
1534,2022-12-30 20:00:00,1.07112,1.07132,1.06924,1.07007,0,1.066951,1.065167,1,NaN,NaN,NaN

In [112]:
df['Profit'] = np.NaN

In [113]:
initial_balance = np.NaN
for index, row in df.iterrows():
    if row['Signal-Filtered'] == 1:  # Buy signal
        if initial_balance is not None:
            profit = initial_balance - row['close']
            df.at[index, 'Profit'] = profit
        initial_balance = row['close']
    elif row['Signal-Filtered'] == 0:  # Sell signal
        if initial_balance is not None:
            profit = row['close'] - initial_balance
            df.at[index, 'Profit'] = profit
        initial_balance = row['close']

In [114]:
df[(df['Signal-Filtered'] == 1) | (df['Signal-Filtered'] ==  0)]

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL),Profit
0,2022-01-06 04:00:00,1.13166,1.13206,1.13070,1.13092,0,1.130711,1.131229,0,0.0,NaN,1.13092,NaN
2,2022-01-06 12:00:00,1.13052,1.13268,1.13023,1.13122,0,1.131075,1.130834,1,1.0,1.13122,NaN,-0.00030
44,2022-01-17 12:00:00,1.14238,1.14266,1.13919,1.14016,0,1.143092,1.143554,0,0.0,NaN,1.14016,0.00894
107,2022-02-01 00:00:00,1.12338,1.12342,1.12210,1.12262,0,1.118379,1.117982,1,1.0,1.12262,NaN,0.01754
141,2022-02-08 16:00:00,1.14088,1.14237,1.14031,1.14208,0,1.142426,1.143233,0,0.0,NaN,1.14208,0.01946
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,2022-12-13 12:00:00,1.05434,1.06616,1.05280,1.06464,0,1.055196,1.054833,1,1.0,1.06464,NaN,-0.01030
1479,2022-12-16 16:00:00,1.06342,1.06486,1.05978,1.06052,0,1.062970,1.063777,0,0.0,NaN,1.06052,-0.00412
1496,2022-12-21 12:00:00,1.06146,1.06452,1.06046,1.06288,0,1.061640,1.061353,1,1.0,1.06288,NaN,-0.00236
1506,2022-12-23 04:00:00,1.06020,1.06123,1.06020,1.06036,0,1.061200,1.061420,0,0.0,NaN,1.06036,-0.00252
1513,2022-12-27 08:00:00,1.06556,1.06680,1.06383,1.06605,0,1.062259,1.062016,1,1.0,1.06605,NaN,-0.00569

In [115]:
df['Category'] = df['Profit'].apply(lambda x: 'Profit' if x > 0 else ('Loss' if x < 0 else np.NaN))

In [116]:
df[((df['Signal-Filtered'] == 1) | (df['Signal-Filtered'] ==  0)) & (df['Category'] == 1)]

Empty DataFrame
Columns: [time, open, high, low, close, real_volume, SMA10, SMA20, Signal, Signal-Filtered, Signal-Price(BUY), Signal-Price(SELL), Profit, Category]
Index: []

In [117]:
df.tail(50)

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL),Profit,Category
1485,2022-12-19 16:00:00,1.06062,1.06312,1.05759,1.06250,0,1.061450,1.062937,0,NaN,NaN,NaN,NaN,NaN
1486,2022-12-19 20:00:00,1.06250,1.06264,1.06008,1.06073,0,1.061067,1.062741,0,NaN,NaN,NaN,NaN,NaN
1487,2022-12-20 00:00:00,1.06050,1.06128,1.05978,1.06054,0,1.061003,1.062511,0,NaN,NaN,NaN,NaN,NaN
1488,2022-12-20 04:00:00,1.06054,1.06522,1.05790,1.05866,0,1.060528,1.062036,0,NaN,NaN,NaN,NaN,NaN
1489,2022-12-20 08:00:00,1.05866,1.06380,1.05830,1.06370,0,1.060846,1.061908,0,NaN,NaN,NaN,NaN,NaN
1490,2022-12-20 12:00:00,1.06365,1.06460,1.05942,1.06157,0,1.061147,1.061694,0,NaN,NaN,NaN,NaN,NaN
1491,2022-12-20 16:00:00,1.06156,1.06586,1.05983,1.06150,0,1.061233,1.061659,0,NaN,NaN,NaN,NaN,NaN
1492,2022-12-20 20:00:00,1.06148,1.06292,1.05993,1.06232,0,1.061390,1.061513,0,NaN,NaN,NaN,NaN,NaN
1493,2022-12-21 00:00:00,1.06240,1.06283,1.06138,1.06199,0,1.061413,1.061616,0,NaN,NaN,NaN,NaN,NaN
1494,2022-12-21 04:00:00,1.06198,1.06260,1.06070,1.06176,0,1.061527,1.061573,0,NaN,NaN,NaN,NaN,NaN
1495,2022-12-21 08:00:00,1.06175,1.06374,1.06097,1.06148,0,1.061425,1.061437,0,NaN,NaN,NaN,NaN,NaN
1496,2022-12-21 12:00:00,1.06146,1.06452,1.06046,1.06288,0,1.061640,1.061353,1,1.0,1.06288,NaN,-0.00236,Loss
1497,2022-12-21 16:00:00,1.06286,1.06333,1.05904,1.06005,0,1.061591,1.061297,1,NaN,NaN,NaN,NaN,NaN
1498,2022-12-21 20:00:00,1.06007,1.06200,1.05932,1.06038,0,1.061763,1.061145,1,NaN,NaN,NaN,NaN,NaN
1499,2022-12-22 00:00:00,1.06046,1.06300,1.06033,1.06296,0,1.061689,1.061268,1,NaN,NaN,NaN,NaN,NaN
1500,2022-12-22 04:00:00,1.06294,1.06484,1.06256,1.06402,0,1.061934,1.061540,1,NaN,NaN,NaN,NaN,NaN
1501,2022-12-22 08:00:00,1.06400,1.06594,1.06263,1.06464,0,1.062248,1.061740,1,NaN,NaN,NaN,NaN,NaN
1502,2022-12-22 12:00:00,1.06464,1.06564,1.06037,1.06112,0,1.062128,1.061759,1,NaN,NaN,NaN,NaN,NaN
1503,2022-12-22 16:00:00,1.06112,1.06186,1.05822,1.05844,0,1.061773,1.061593,1,NaN,NaN,NaN,NaN,NaN
1504,2022-12-22 20:00:00,1.05842,1.06034,1.05733,1.05983,0,1.061580,1.061554,1,NaN,NaN,NaN,NaN,NaN
1505,2022-12-23 00:00:00,1.05938,1.06042,1.05867,1.06020,0,1.061452,1.061438,1,NaN,NaN,NaN,NaN,NaN
1506,2022-12-23 04:00:00,1.06020,1.06123,1.06020,1.06036,0,1.061200,1.061420,0,0.0,NaN,1.06036,-0.00252,Loss
1507,2022-12-23 08:00:00,1.06037,1.06304,1.05962,1.06098,0,1.061293,1.061442,0,NaN,NaN,NaN,NaN,NaN
1508,2022-12-23 12:00:00,1.06099,1.06331,1.05950,1.06080,0,1.061335,1.061549,0,NaN,NaN,NaN,NaN,NaN
1509,2022-12-23 16:00:00,1.06078,1.06321,1.05924,1.06203,0,1.061242,1.061466,0,NaN,NaN,NaN,NaN,NaN
1510,2022-12-23 20:00:00,1.06202,1.06232,1.06059,1.06160,0,1.061000,1.061467,0,NaN,NaN,NaN,NaN,NaN
1511,2022-12-27 00:00:00,1.06354,1.06532,1.06281,1.06520,0,1.061056,1.061652,0,NaN,NaN,NaN,NaN,NaN
1512,2022-12-27 04:00:00,1.06520,1.06605,1.06355,1.06554,0,1.061498,1.061813,0,NaN,NaN,NaN,NaN,NaN
1513,2022-12-27 08:00:00,1.06556,1.06680,1.06383,1.06605,0,1.062259,1.062016,1,1.0,1.06605,NaN,-0.00569,Loss
1514,2022-12-27 12:00:00,1.06605,1.06695,1.06196,1.06276,0,1.062552,1.062066,1,NaN,NaN,NaN,NaN,NaN
1515,2022-12-27 16:00:00,1.06272,1.06606,1.06115,1.06376,0,1.062908,1.062180,1,NaN,NaN,NaN,NaN,NaN
1516,2022-12-27 20:00:00,1.06376,1.06565,1.06360,1.06390,0,1.063262,1.062231,1,NaN,NaN,NaN,NaN,NaN
1517,2022-12-28 00:00:00,1.06395,1.06432,1.06250,1.06420,0,1.063584,1.062439,1,NaN,NaN,NaN,NaN,NaN
1518,2022-12-28 04:00:00,1.06421,1.06472,1.06322,1.06462,0,1.063966,1.062650,1,NaN,NaN,NaN,NaN,NaN
1519,2022-12-28 08:00:00,1.06464,1.06548,1.06280,1.06372,0,1.064135,1.062688,1,NaN,NaN,NaN,NaN,NaN
1520,2022-12-28 12:00:00,1.06372,1.06578,1.06295,1.06418,0,1.064393,1.062696,1,NaN,NaN,NaN,NaN,NaN
1521,2022-12-28 16:00:00,1.06418,1.06746,1.06116,1.06291,0,1.064164,1.062610,1,NaN,NaN,NaN,NaN,NaN
1522,2022-12-28 20:00:00,1.06292,1.06358,1.06068,1.06125,0,1.063735,1.062617,1,NaN,NaN,NaN,NaN,NaN
1523,2022-12-29 00:00:00,1.06117,1.06374,1.06054,1.06282,0,1.063412,1.062835,1,NaN,NaN,NaN,NaN,NaN
1524,2022-12-29 04:00:00,1.06285,1.06329,1.06192,1.06248,0,1.063384,1.062968,1,NaN,NaN,NaN,NaN,NaN
1525,2022-12-29 08:00:00,1.06249,1.06584,1.06112,1.06564,0,1.063572,1.063240,1,NaN,NaN,NaN,NaN,NaN
1526,2022-12-29 12:00:00,1.06564,1.06672,1.06318,1.06550,0,1.063732,1.063497,1,NaN,NaN,NaN,NaN,NaN
1527,2022-12-29 16:00:00,1.06554,1.06905,1.06366,1.06820,0,1.064132,1.063858,1,NaN,NaN,NaN,NaN,NaN
1528,2022-12-29 20:00:00,1.06821,1.06836,1.06604,1.06621,0,1.064291,1.064129,1,NaN,NaN,NaN,NaN,NaN
1529,2022-12-30 00:00:00,1.06608,1.06696,1.06546,1.06606,0,1.064525,1.064330,1,NaN,NaN,NaN,NaN,NaN
1530,2022-12-30 04:00:00,1.06604,1.06634,1.06426,1.06437,0,1.064544,1.064469,1,NaN,NaN,NaN,NaN,NaN
1531,2022-12-30 08:00:00,1.06434,1.06747,1.06389,1.06549,0,1.064802,1.064483,1,NaN,NaN,NaN,NaN,NaN
1532,2022-12-30 12:00:00,1.06547,1.06987,1.06454,1.06689,0,1.065366,1.064550,1,NaN,NaN,NaN,NaN,NaN
1533,2022-12-30 16:00:00,1.06690,1.07114,1.06594,1.07108,0,1.066192,1.064802,1,NaN,NaN,NaN,NaN,NaN
1534,2022-12-30 20:00:00,1.07112,1.07132,1.06924,1.07007,0,1.066951,1.065167,1,NaN,NaN,NaN,NaN,NaN

In [118]:
df['Category'].shift()[22]

nan

In [119]:
df['Category'][0] = 'Profit'

C:\Users\sarav\AppData\Local\Temp\ipykernel_1368\764009197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][0] = 'Profit'

In [120]:
for x in range(len(df['Category'])):
    if x+1 != len(df['Category']):
        if df['Category'][x] == 'Profit' and df['Category'][x+1] != 'Loss':
            df['Category'][x+1] = 'Profit'
        elif df['Category'][x] == 'Loss' and df['Category'][x+1] != 'Profit':
            df['Category'][x+1] = 'Loss'

C:\Users\sarav\AppData\Local\Temp\ipykernel_1368\780626816.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][x+1] = 'Profit'
C:\Users\sarav\AppData\Local\Temp\ipykernel_1368\780626816.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][x+1] = 'Loss'

In [121]:
df['Category'].value_counts()

Loss      1027
Profit     508
Name: Category, dtype: int64

In [122]:
df.head(50)

,time,open,high,low,close,real_volume,SMA10,SMA20,Signal,Signal-Filtered,Signal-Price(BUY),Signal-Price(SELL),Profit,Category
0,2022-01-06 04:00:00,1.13166,1.13206,1.13070,1.13092,0,1.130711,1.131229,0,0.0,NaN,1.13092,NaN,Profit
1,2022-01-06 08:00:00,1.13092,1.13094,1.12847,1.13054,0,1.130827,1.130963,0,NaN,NaN,NaN,NaN,Profit
2,2022-01-06 12:00:00,1.13052,1.13268,1.13023,1.13122,0,1.131075,1.130834,1,1.0,1.13122,NaN,-0.00030,Loss
3,2022-01-06 16:00:00,1.13123,1.13319,1.12903,1.12960,0,1.131177,1.130556,1,NaN,NaN,NaN,NaN,Loss
4,2022-01-06 20:00:00,1.12959,1.12998,1.12862,1.12984,0,1.131222,1.130294,1,NaN,NaN,NaN,NaN,Loss
5,2022-01-07 00:00:00,1.12966,1.13008,1.12901,1.13007,0,1.131165,1.130378,1,NaN,NaN,NaN,NaN,Loss
6,2022-01-07 04:00:00,1.13008,1.13034,1.12952,1.13022,0,1.130948,1.130400,1,NaN,NaN,NaN,NaN,Loss
7,2022-01-07 08:00:00,1.13022,1.13176,1.12982,1.13152,0,1.130686,1.130442,1,NaN,NaN,NaN,NaN,Loss
8,2022-01-07 12:00:00,1.13149,1.13225,1.12922,1.13018,0,1.130577,1.130426,1,NaN,NaN,NaN,NaN,Loss
9,2022-01-07 16:00:00,1.13019,1.13583,1.12990,1.13567,0,1.130978,1.130699,1,NaN,NaN,NaN,NaN,Loss
10,2022-01-07 20:00:00,1.13566,1.13648,1.13548,1.13613,0,1.131499,1.131105,1,NaN,NaN,NaN,NaN,Loss
11,2022-01-10 00:00:00,1.13518,1.13609,1.13498,1.13502,0,1.131947,1.131387,1,NaN,NaN,NaN,NaN,Loss
12,2022-01-10 04:00:00,1.13503,1.13519,1.13321,1.13349,0,1.132174,1.131625,1,NaN,NaN,NaN,NaN,Loss
13,2022-01-10 08:00:00,1.13349,1.13447,1.13207,1.13266,0,1.132480,1.131828,1,NaN,NaN,NaN,NaN,Loss
14,2022-01-10 12:00:00,1.13266,1.13363,1.12951,1.12972,0,1.132468,1.131845,1,NaN,NaN,NaN,NaN,Loss
15,2022-01-10 16:00:00,1.12972,1.13348,1.12852,1.13287,0,1.132748,1.131956,1,NaN,NaN,NaN,NaN,Loss
16,2022-01-10 20:00:00,1.13286,1.13311,1.13201,1.13283,0,1.133009,1.131978,1,NaN,NaN,NaN,NaN,Loss
17,2022-01-11 00:00:00,1.13228,1.13418,1.13205,1.13365,0,1.133222,1.131954,1,NaN,NaN,NaN,NaN,Loss
18,2022-01-11 04:00:00,1.13366,1.13443,1.13346,1.13390,0,1.133594,1.132086,1,NaN,NaN,NaN,NaN,Loss
19,2022-01-11 08:00:00,1.13390,1.13520,1.13288,1.13334,0,1.133361,1.132170,1,NaN,NaN,NaN,NaN,Loss
20,2022-01-11 12:00:00,1.13334,1.13436,1.13234,1.13260,0,1.133008,1.132254,1,NaN,NaN,NaN,NaN,Loss
21,2022-01-11 16:00:00,1.13260,1.13686,1.13130,1.13543,0,1.133049,1.132498,1,NaN,NaN,NaN,NaN,Loss
22,2022-01-11 20:00:00,1.13542,1.13751,1.13522,1.13652,0,1.133352,1.132763,1,NaN,NaN,NaN,NaN,Loss
23,2022-01-12 00:00:00,1.13655,1.13736,1.13643,1.13700,0,1.133786,1.133133,1,NaN,NaN,NaN,NaN,Loss
24,2022-01-12 04:00:00,1.13700,1.13780,1.13680,1.13733,0,1.134547,1.133507,1,NaN,NaN,NaN,NaN,Loss
25,2022-01-12 08:00:00,1.13732,1.13751,1.13551,1.13672,0,1.134932,1.133840,1,NaN,NaN,NaN,NaN,Loss
26,2022-01-12 12:00:00,1.13672,1.14149,1.13548,1.14099,0,1.135748,1.134378,1,NaN,NaN,NaN,NaN,Loss
27,2022-01-12 16:00:00,1.14099,1.14452,1.13945,1.14440,0,1.136823,1.135022,1,NaN,NaN,NaN,NaN,Loss
28,2022-01-12 20:00:00,1.14441,1.14528,1.14384,1.14414,0,1.137847,1.135720,1,NaN,NaN,NaN,NaN,Loss
29,2022-01-13 00:00:00,1.14420,1.14481,1.14360,1.14390,0,1.138903,1.136132,1,NaN,NaN,NaN,NaN,Loss
30,2022-01-13 04:00:00,1.14390,1.14474,1.14359,1.14412,0,1.140055,1.136532,1,NaN,NaN,NaN,NaN,Loss
31,2022-01-13 08:00:00,1.14413,1.14784,1.14385,1.14714,0,1.141226,1.137138,1,NaN,NaN,NaN,NaN,Loss
32,2022-01-13 12:00:00,1.14714,1.14776,1.14534,1.14715,0,1.142289,1.137821,1,NaN,NaN,NaN,NaN,Loss
33,2022-01-13 16:00:00,1.14717,1.14816,1.14472,1.14614,0,1.143203,1.138494,1,NaN,NaN,NaN,NaN,Loss
34,2022-01-13 20:00:00,1.14614,1.14664,1.14509,1.14545,0,1.144015,1.139281,1,NaN,NaN,NaN,NaN,Loss
35,2022-01-14 00:00:00,1.14547,1.14682,1.14513,1.14662,0,1.145005,1.139968,1,NaN,NaN,NaN,NaN,Loss
36,2022-01-14 04:00:00,1.14662,1.14829,1.14627,1.14789,0,1.145695,1.140721,1,NaN,NaN,NaN,NaN,Loss
37,2022-01-14 08:00:00,1.14790,1.14806,1.14573,1.14583,0,1.145838,1.141331,1,NaN,NaN,NaN,NaN,Loss
38,2022-01-14 12:00:00,1.14583,1.14611,1.14335,1.14382,0,1.145806,1.141826,1,NaN,NaN,NaN,NaN,Loss
39,2022-01-14 16:00:00,1.14382,1.14500,1.13986,1.14022,0,1.145438,1.142171,1,NaN,NaN,NaN,NaN,Loss
40,2022-01-14 20:00:00,1.14022,1.14179,1.14013,1.14164,0,1.145190,1.142623,1,NaN,NaN,NaN,NaN,Loss
41,2022-01-17 00:00:00,1.14135,1.14164,1.14000,1.14046,0,1.144522,1.142874,1,NaN,NaN,NaN,NaN,Loss
42,2022-01-17 04:00:00,1.14046,1.14226,1.14038,1.14190,0,1.143997,1.143143,1,NaN,NaN,NaN,NaN,Loss
43,2022-01-17 08:00:00,1.14191,1.14344,1.14120,1.14238,0,1.143621,1.143412,1,NaN,NaN,NaN,NaN,Loss
44,2022-01-17 12:00:00,1.14238,1.14266,1.13919,1.14016,0,1.143092,1.143554,0,0.0,NaN,1.14016,0.00894,Profit
45,2022-01-17 16:00:00,1.14016,1.14158,1.13956,1.14118,0,1.142548,1.143776,0,NaN,NaN,NaN,NaN,Profit
46,2022-01-17 20:00:00,1.14118,1.14136,1.14048,1.14062,0,1.141821,1.143758,0,NaN,NaN,NaN,NaN,Profit
47,2022-01-18 00:00:00,1.14067,1.14208,1.14055,1.14190,0,1.141428,1.143633,0,NaN,NaN,NaN,NaN,Profit
48,2022-01-18 04:00:00,1.14190,1.14214,1.13851,1.13971,0,1.141017,1.143412,0,NaN,NaN,NaN,NaN,Profit
49,2022-01-18 08:00:00,1.13970,1.14059,1.13861,1.13950,0,1.140945,1.143191,0,NaN,NaN,NaN,NaN,Profit

In [123]:
del df['real_volume']
del df['Signal-Filtered']
del df['Signal-Price(BUY)']
del df['Profit']
del df['Signal-Price(SELL)']

In [124]:
df.isna().sum()

time        0
open        0
high        0
low         0
close       0
SMA10       0
SMA20       0
Signal      0
Category    0
dtype: int64

In [125]:
df

,time,open,high,low,close,SMA10,SMA20,Signal,Category
0,2022-01-06 04:00:00,1.13166,1.13206,1.13070,1.13092,1.130711,1.131229,0,Profit
1,2022-01-06 08:00:00,1.13092,1.13094,1.12847,1.13054,1.130827,1.130963,0,Profit
2,2022-01-06 12:00:00,1.13052,1.13268,1.13023,1.13122,1.131075,1.130834,1,Loss
3,2022-01-06 16:00:00,1.13123,1.13319,1.12903,1.12960,1.131177,1.130556,1,Loss
4,2022-01-06 20:00:00,1.12959,1.12998,1.12862,1.12984,1.131222,1.130294,1,Loss
...,...,...,...,...,...,...,...,...,...
1530,2022-12-30 04:00:00,1.06604,1.06634,1.06426,1.06437,1.064544,1.064469,1,Loss
1531,2022-12-30 08:00:00,1.06434,1.06747,1.06389,1.06549,1.064802,1.064483,1,Loss
1532,2022-12-30 12:00:00,1.06547,1.06987,1.06454,1.06689,1.065366,1.064550,1,Loss
1533,2022-12-30 16:00:00,1.06690,1.07114,1.06594,1.07108,1.066192,1.064802,1,Loss
1534,2022-12-30 20:00:00,1.07112,1.07132,1.06924,1.07007,1.066951,1.065167,1,Loss

In [126]:
# del df['Category']

In [127]:
def signal(raw):
    
    if raw['SMA10'] > raw['SMA20']:
        return 1
    elif raw['SMA10']  < raw['SMA20']:
        return 0
    else :
        if raw.shift(-1)['Signal'] == 0:
            return 0
        else:
            return 1

df['Signal'] = df.apply(signal,axis=1)

In [128]:
df

,time,open,high,low,close,SMA10,SMA20,Signal,Category
0,2022-01-06 04:00:00,1.13166,1.13206,1.13070,1.13092,1.130711,1.131229,0,Profit
1,2022-01-06 08:00:00,1.13092,1.13094,1.12847,1.13054,1.130827,1.130963,0,Profit
2,2022-01-06 12:00:00,1.13052,1.13268,1.13023,1.13122,1.131075,1.130834,1,Loss
3,2022-01-06 16:00:00,1.13123,1.13319,1.12903,1.12960,1.131177,1.130556,1,Loss
4,2022-01-06 20:00:00,1.12959,1.12998,1.12862,1.12984,1.131222,1.130294,1,Loss
...,...,...,...,...,...,...,...,...,...
1530,2022-12-30 04:00:00,1.06604,1.06634,1.06426,1.06437,1.064544,1.064469,1,Loss
1531,2022-12-30 08:00:00,1.06434,1.06747,1.06389,1.06549,1.064802,1.064483,1,Loss
1532,2022-12-30 12:00:00,1.06547,1.06987,1.06454,1.06689,1.065366,1.064550,1,Loss
1533,2022-12-30 16:00:00,1.06690,1.07114,1.06594,1.07108,1.066192,1.064802,1,Loss
1534,2022-12-30 20:00:00,1.07112,1.07132,1.06924,1.07007,1.066951,1.065167,1,Loss

In [129]:
df['Cat_num'] = df['Category'].apply(lambda x: 1 if x == 'Profit' else (0 if x == 'Loss' else np.NaN))

In [130]:
df.isna().sum()

time        0
open        0
high        0
low         0
close       0
SMA10       0
SMA20       0
Signal      0
Category    0
Cat_num     0
dtype: int64

In [131]:
import pickle
model = pickle.load(open(r"D:\SY - Class\Forex-market-analysis\rfc.pkl","rb"))

In [132]:
df['time'] = pd.to_datetime(df['time'])
df['timestamp_unix'] = df['time'].astype(np.int64) / 10**9  # Convert nanoseconds to seconds

In [133]:
y_pred = model.predict(df[['timestamp_unix','open','high','low','close','SMA10','Signal','SMA20']])

In [134]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [135]:
df['Preds'] = y_pred

In [136]:
df

,time,open,high,low,close,SMA10,SMA20,Signal,Category,Cat_num,timestamp_unix,Preds
0,2022-01-06 04:00:00,1.13166,1.13206,1.13070,1.13092,1.130711,1.131229,0,Profit,1,1.641442e+09,0
1,2022-01-06 08:00:00,1.13092,1.13094,1.12847,1.13054,1.130827,1.130963,0,Profit,1,1.641456e+09,0
2,2022-01-06 12:00:00,1.13052,1.13268,1.13023,1.13122,1.131075,1.130834,1,Loss,0,1.641470e+09,0
3,2022-01-06 16:00:00,1.13123,1.13319,1.12903,1.12960,1.131177,1.130556,1,Loss,0,1.641485e+09,0
4,2022-01-06 20:00:00,1.12959,1.12998,1.12862,1.12984,1.131222,1.130294,1,Loss,0,1.641499e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1530,2022-12-30 04:00:00,1.06604,1.06634,1.06426,1.06437,1.064544,1.064469,1,Loss,0,1.672373e+09,0
1531,2022-12-30 08:00:00,1.06434,1.06747,1.06389,1.06549,1.064802,1.064483,1,Loss,0,1.672387e+09,0
1532,2022-12-30 12:00:00,1.06547,1.06987,1.06454,1.06689,1.065366,1.064550,1,Loss,0,1.672402e+09,0
1533,2022-12-30 16:00:00,1.06690,1.07114,1.06594,1.07108,1.066192,1.064802,1,Loss,0,1.672416e+09,0
1534,2022-12-30 20:00:00,1.07112,1.07132,1.06924,1.07007,1.066951,1.065167,1,Loss,0,1.672430e+09,0

In [137]:
def comp(raw):
    
    if raw['Signal'] == raw['Preds']:
        return 1
    else :
        return 0

df['Bool'] = df.apply(comp,axis=1)

In [138]:
ll = df['Bool'].value_counts().to_list()

In [ ]:
true_percentage = ll[0]/len(df)*100
"Actual Profit Percentage : " true_percentage

53.355048859934854